<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lista de Exámenes</title>
        <link rel="stylesheet" href="/css/lista-examenes.css" />
        <link rel="stylesheet" href="../public/css/lista-examenes.css">
    </head>
    <body>
        <header>
            <h1><a href="/" class="logo">TC</a></h1>
            <a href="/">Inicio</a>
        </header>
        <div class="light"></div>
        <button class="volver-btn desactived">Volver</button>

        <div class="container active">
            <h1>EXAMENES DISPONIBLES</h1>
            <div id="examenes-lista" class="examenes-grid"></div>
        </div>

        <div class="examenes desactived">
            <h1 class="exam-title">Examen</h1>
        </div>
        <script src="/socket.io/socket.io.js"></script>

        <script src="/JS/lista-examenes.js"></script>
    </body>
</html>
